<div class="about content">
  <h2>About us</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus rerum
    fuga, soluta qui
  </p>
  <p>
    fugiat, deserunt accusamus deleniti sequi earum itaque laudantium ea
    iusto exercitatione
  </p>
  <p>m magni eaque? Vero excepturi corporis modi?</p>
</div>